<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Links das Fontes e dos Icones-->
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>

<!--Sidebar-->
<input type="checkbox" id="check">

<label for="check">
  <i class="fas fa-bars" id="btn"></i>
  <i class="fas fa-times" id="cancel"></i>
</label>

<div class="sidebar">
  
  <header>Menu</header>
    
    <a href="#" class="link-sidebar active">
      <i class="fas fa-qrcode"></i>
      <span>Dashboard</span>
    </a>
    
    <a href="#" class="link-sidebar">
      <i class="fas fa-link"></i>
      <span>Links</span>
    </a>
  
    <a href="#" class="link-sidebar">
       <i class="fas fa-edit"></i>
      <span>Blog</span>
    </a>

    <a href="#" class="link-sidebar">
      <i class="far fa-question-circle"></i>
      <span>Sobre</span>
    </a>
    
    <a href="#" class="link-sidebar">
      <i class="fas fa-sliders-h"></i>
      <span>Serviços</span>
    </a>
    
    <a href="#" class="link-sidebar">
      <i class="far fa-envelope"></i>
      <span>Contato</span>
    </a>

</div>
<!--Sidebar-->
</body>
</html>