<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Login - Card Blue</title>
</head>
<body>
        <div class="box-formulario">        
        
        <div class="formulario">
            
            <div class="box-title">
              <h1 class="title">CARD BLUE<span class="subtitle">login de usuário</span></h1>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            <div class="">
                    {% for category, message in messages %}
                        {% if category == 'login_error' %}
                            <p class="login_error">{{ message }}</p>
                        {% endif %}
                    {% endfor %}
            </div>
             {% endwith %}

            <form action="{{ url_for('login') }}" method="post" novalidate>
                     
            {% with messages = get_flashed_messages(with_categories=true) %}
                <span>
                    <label for="number_card">Número do Cartão:</label>
                    <input type="text" class="input-hidden" id="number_card" name="number_card" placeholder="xxx0xxx" autocomplete="off" required="" inputmode="numeric" maxlength="7"> 
                            {% for category, message in messages %}
                                {% if category == 'card_error' %}
                                    <label for="" class="number_erro">{{ message }}</label>
                                {% endif %}
                            {% endfor %}
                </span>

                <span>
                    <label for="password">Senha:</label>
                    <input type="password" class="input-hidden" id="password" name="password" placeholder="Senha de 4 dígitos" autocomplete="off" required="" maxlength="4">
                                {% for category, message in messages %}
                                    {% if category == 'senha_error' %}
                                        <label for="" class="senha_erro">{{ message }}</label>
                                    {% endif %}
                                {% endfor %}
            {% endwith %}
                </span>

                <div class="box-btn">
                     <input type="submit" value="Consultar Saldo" class="btn-submit">
                </div>

            </form>

        </div>

    </div><!--Box Formulario--> 
</body>
</html>