<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PPAcademy - Prin Fitness Platform</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;1,400&family=Libre+Franklin:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/avisos.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contato.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/update.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
</head>
<body>
   {% if g.user %}
    {% include 'private/menu/menu.html' %}

    {% else %}
        {% include 'public/menu/menu.html' %}

    {% endif %}

    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-container">
      {% for category, message in messages %}
        <div class="flash {{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}


    <!-- Hero Section -->
    <section class="hero" id="home">
		{% block content %}{% endblock %}
    </section>
	
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>
</html>
