{% extends "filmes/base.html" %}

{% block title %}CinePost{% endblock %}

{% block content %}

    <h1>CinePost</h1>

    {% for post in posts %}

        <h2>
            <a href="{{ post.get_absolute_url }}">
    {{ post.titulo }}
</a>
        </h2>

        <p class="date">
            Publicado em {{ post.publicado_em }}
            por {{ post.autor }}
        </p>

        {{ post.comentario|truncatewords:30|linebreaks }}

    {% endfor %}

    {% include "filmes/pagination.html" with page=page_obj %}

{% endblock %}