{% extends "base.html" %}

{% block content %}

<main class="flex flex-col items-center justify-center min-h-screen bg-cyan-100 p-6">
    <form method="POST" class=" w-full flex flex-col items-center gap-4 mt-6">

        <div id="tela_codigo"
            class="flex flex-col items-center gap-4 w-4/4 bg-white p-8 rounded-2xl shadow-xl border border-cyan-200 transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl">

            <h2 class="text-xl font-bold mb-4">Central de Administração</h2>

            {% if not registro %}

            <input type="text" name="codigo" placeholder="Digite o código"
                class=" w-4/4 bg-slate-100 border border-cyan-300 rounded-xl p-3 text-center text-lg font-mono tracking-[0.3em] text-cyan-700 focus:outline-none focus:ring-2 focus:ring-cyan-500 focus:border-transparent {% if not registro and pesquisa_realizada %} border-red-400 focus:ring-red-500 focus:border-red-400 {% endif %}">

            {% endif %}


            {% if codigo %}
            <div id="codigo"
                class=" bg-slate-100 border-2 border-dashed  border-green-400 rounded-xl p-5 text-center text-2xl font-mono font-bold tracking-[0.3em] text-cyan-700 {% if not registro %} border-red-400 focus:ring-red-500 focus:border-red-400 {% endif %}">
                    <p id="mensagem" class="mt-3 text-sm font-medium text-green-600" style="white-space: pre-line;"><span class="text-cyan-700">{{ codigo }}</span></p>
                
            </div>

            {% if registro.descricao_problema %}
            <h2 class="text-lg font-bold">Descrição do Problema</h2>
            <div id="codigo"
                class=" bg-slate-100 border-2  border-amber-600 rounded-xl p-5 text-center text-2xl font-mono font-bold tracking-[0.3em] text-cyan-700">
                    <p id="mensagem" class="mt-3 text-sm font-medium text-green-600" style="white-space: pre-line;"><span class="text-cyan-700">{{ registro.descricao_problema }}</span></p>
                
            </div>
            {% endif %}


            <p>Clique no botão para administração.</p>
            {% endif %}


            {% if mensagem %}
            <p id="mensagem" class="mt-2 text-sm font-medium {% if registro %} text-green-600 {% else %} text-red-600 {% endif %} ">{{ mensagem }}</p>
            {% endif %}

        </div>

        {% if registro %}

        <input type="hidden" name="codigo" value="{{ registro.codigo }}">

        <label for="novo_status" class="text-xl font-bold mb-4">Mudança de status</label>
        <select name="novo_status" id="novo_status"
            class="w-full bg-slate-100 border border-cyan-300 rounded-xl p-3 text-center text-lg font-mono tracking-[0.3em] text-cyan-700 focus:outline-none focus:ring-2 focus:ring-cyan-500 focus:border-transparent hover:cursor-pointer hover:bg-slate-200">

            <option value="" selected disabled>{{ registro.status }}</option>
            <option value="processando">Processando</option>
            <option value="enviado">Enviado</option>
            <option value="na_estrada">Na estrada</option>
            <option value="aguardando">Aguardando</option>
            <option value="em_rota">Em rota</option>
            <option value="entregue">Entregue</option>
            <option value="nao_entregue">Não entregue</option>
            <option value="cancelado">Recusado</option>
        </select>

        <div class=" flex items-center gap-3">
            <label for="novo_estado" class="text-base font-bold mb-4">Ações para o código</label>
            <select name="novo_estado" id="novo_estado"
                class="w-full bg-slate-100 border border-cyan-300 rounded-xl p-2 text-center text-sm font-mono tracking-[0.2em] text-cyan-700 focus:outline-none focus:ring-2 focus:ring-cyan-500 focus:border-transparent hover:cursor-pointer hover:bg-slate-200"
                flex-row>
                <option value="" selected disabled>{{ registro.estado }}</option>
                <option value="ativado">Ativar</option>
                <option value="desativado">Desativar</option>
                <option value="cancelado">Cancelar</option>
            </select>
        </div>

        <div class=" flex items-center gap-3">
            <label for="novo_tem_problema" class="text-base font-bold mb-4">problema</label>
            <select name="novo_tem_problema" id="novo_tem_problema"
                class="w-full bg-slate-100 border border-cyan-300 rounded-xl p-2 text-center text-sm font-mono tracking-[0.2em] text-cyan-700 focus:outline-none focus:ring-2 focus:ring-cyan-500 focus:border-transparent hover:cursor-pointer hover:bg-slate-200"
                flex-row>
                <option value="" selected disabled>{{ registro.tem_problema }}</option>
                <option value="resolvido">Resolvido</option>
                <option value="nao_resolvido">Não resolvido</option>
            </select>
        </div>

            <button
                class="mt-6 bg-red-500 text-white px-8 py-3 rounded-xl font-semibold shadow-lg transition-all duration-300 hover:bg-red-700 hover:scale-105 active:scale-95"
                type="submit" name="b_acao" value="deletar">Deletar codigo</button>

            <button
                class="mt-6 bg-cyan-500 text-white px-8 py-3 rounded-xl font-semibold shadow-lg transition-all duration-300 hover:bg-cyan-700 hover:scale-105 active:scale-95"
                type="submit">Confirmar</button>


        <a href="{{ url_for('admin') }}">
            <button
                class="mt-6 bg-cyan-500 text-white px-8 py-3 rounded-xl font-semibold shadow-lg transition-all duration-300 hover:bg-cyan-700 hover:scale-105 active:scale-95"
                type="button">Nova pesquisa</button>
        </a>
        {% else %}
        <button
            class="mt-6 bg-cyan-600 text-white px-8 py-3 rounded-xl font-semibold shadow-lg transition-all duration-300 hover:bg-cyan-700 hover:scale-105 active:scale-95"
            type="submit">Confirmar</button>

    <a href="{{ url_for('admin_pesquisas') }}">
        <button
            class="mt-6 bg-cyan-500 text-white px-8 py-3 rounded-xl font-semibold shadow-lg transition-all duration-300 hover:bg-cyan-900 hover:scale-105 active:scale-95"
            type="button">Central de pesquisas</button>
    </a>

    {% endif %}

    </form>
</main>


{% endblock %}