{% extends "base.html" %}

{% block content %}

<main class="flex flex-col items-center justify-center min-h-screen bg-cyan-100 p-6">

    <div id="tela_codigo"
        class="flex flex-col items-center bg-white p-8 rounded-2xl shadow-xl border border-cyan-200 transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl">

        <h2 class="text-xl font-bold mb-4">Central de pesquisa</h2>

        <div id="codigo"
            class="w-full bg-slate-100 border-2 border-dashed border-green-400 rounded-xl  text-center text-2xl font-mono font-bold tracking-[0.3em] text-cyan-700
            ">
        
        <spam id="mensagem" class=" text-sm font-medium text-cyan-700" style="white-space: pre-line;">
        {% for codigo in codigos %}
            {{ codigo.codigo  }}<hr>
        {% endfor %}
    </spam>

        </div>

        <p>Clique no botão para pesquisar um código.</p>

        {% if mensagem %}
        <p id="mensagem" class="mt-3 text-sm font-medium text-green-600">{{ codigos }}</p>
        {% endif %}

    </div>

    <form method="get" max-w-md class="w-full flex flex-col items-center gap-1 mt-5">

        <label for="filtro_categoria" class="text-xl font-bold">Filtros</label>

        <select name="filtro_categoria" id="filtro_categoria" class="w-full bg-slate-200 border border-cyan-900 rounded-xl p-3 text-center text-lg font-mono tracking-[0.3em] text-cyan-500 focus:outline-none focus:ring-2 focus:ring-cyan-400 focus:border-transparent hover:cursor-pointer hover:bg-slate-100 mb-4">

            <option value="" selected disabled>Selecione</option>
            <option value="eletronicos">Eletrônicos</option>
            <option value="roupas">Roupas</option>
            <option value="moveis">Móveis</option>
            <option value="livros">Livros</option>
            <option value="outros">Outros</option>
            <option value="todos">Todos</option>
        </select>
  
        <label for="quantidade_codigos" class="text-xl font-bold">Quantidade de codigos</label>
        <select name="quantidade_codigos" id="quantidade_codigos" class="w-full bg-slate-100 border border-cyan-300 rounded-xl p-3 text-center text-lg font-mono tracking-[0.3em] text-cyan-700 focus:outline-none focus:ring-2 focus:ring-cyan-500 focus:border-transparent hover:cursor-pointer hover:bg-slate-200 mb-4">

            <option value="" selected disabled>Selecione</option>
            <option value="eletronicos">Eletrônicos</option>
            <option value="roupas">Roupas</option>
            <option value="moveis">Móveis</option>
            <option value="livros">Livros</option>
            <option value="outros">Outros</option>
            <option value="todos">Todos</option>
        </select>

        <label for="lista_codigos" class="text-xl font-bold">Lista de códigos</label>

        <select name="lista_codigos" id="lista_codigos" class="w-full bg-slate-100 border border-cyan-300 rounded-xl p-3 text-center text-lg font-mono tracking-[0.3em] text-cyan-700 focus:outline-none focus:ring-2 focus:ring-cyan-500 focus:border-transparent hover:cursor-pointer hover:bg-slate-200 mb-4">

            <option value="" selected disabled>Selecione</option>
            <option value="eletronicos">Eletrônicos</option>
            <option value="roupas">Roupas</option>
            <option value="moveis">Móveis</option>
            <option value="livros">Livros</option>
            <option value="outros">Outros</option>
            <option value="todos">Todos</option>
        </select>


        <label for="categoria_produto" class="text-xl font-bold">Status</label>

        <select name="categoria_produto" id="categoria_produto" class="w-full bg-slate-100 border border-cyan-300 rounded-xl p-3 text-center text-lg font-mono tracking-[0.3em] text-cyan-700 focus:outline-none focus:ring-2 focus:ring-cyan-500 focus:border-transparent hover:cursor-pointer hover:bg-slate-200 mb-4">

            <option value="" selected disabled>Selecione</option>
            <option value="processando">Processando</option>
            <option value="enviado">Enviado</option>
            <option value="na_estrada">Na estrada</option>
            <option value="aguardando">Aguardando</option>
            <option value="em_rota">Em rota</option>
            <option value="entregue">Entregue</option>
            <option value="nao_entregue">Não entregue</option>
            <option value="cancelado">Recusado</option>
        </select>

        <label for="pesquisa_acoes" class="text-xl font-bold">Pesquisar por ações</label>

        <select name="pesquisa_acoes" id="pesquisa_acoes" class="w-full bg-slate-100 border border-cyan-300 rounded-xl p-3 text-center text-lg font-mono tracking-[0.3em] text-cyan-700 focus:outline-none focus:ring-2 focus:ring-cyan-500 focus:border-transparent hover:cursor-pointer hover:bg-slate-200 mb-4">

            <option value="" selected disabled>Selecione</option>
            <option value="ativos">Ativos</option>
            <option value="desativado">Desativado</option>
            <option value="cancelado">Cancelado</option>
            <option value="deletado">Deletado</option>
        </select>


        <button
            class="mt-6 bg-cyan-600 text-white px-8 py-3 rounded-xl font-semibold shadow-lg transition-all duration-300 hover:bg-cyan-700 hover:scale-105 active:scale-95"
            type="submit">Pesquisar</button>
    </form>
    <a href="{{ url_for('admin') }}">
        <button
            class="mt-6 bg-cyan-500 text-white px-8 py-3 rounded-xl font-semibold shadow-lg transition-all duration-300 hover:bg-cyan-900 hover:scale-105 active:scale-95"
            type="button">Voltar</button>
    </a>

</main>


{% endblock %}