{% extends "base.html" %}

{% block content %}

<main class="flex flex-col items-center justify-center min-h-screen bg-cyan-100 p-6">

    <div id="tela_codigo"
        class="flex flex-col items-center bg-white p-8 gap-2 rounded-2xl shadow-xl border border-cyan-200 transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl">

        <h2 class="text-xl font-bold mb-4">Central de pesquisa</h2>

        {% for codigo in codigos %}
        <div id="codigo"
            class=" w-full bg-slate-100 border-2 border-dashed border-green-400 rounded-xl p-3 text-center text-2xl font-mono font-bold tracking-[0.3em]">
        <p id="mensagem" class=" text-sm font-medium text-cyan-700 leading-none" style="white-space: pre-line;">
        {{ codigo.codigo }}
        </p>
        </div>
        {% endfor %}


        {% if pesquisa_quantidade %}
        {% if quantidade_codigos %}
        <div id="codigo"
            class=" w-full bg-slate-100 border-2 border-dashed rounded-xl p-3 text-center text-2xl font-mono font-bold tracking-[0.3em]
            {% if quantidade_codigos > 0 %} text-green-600 {% else %} text-red-600 {% endif %}">
        
        <p id="mensagem" class=" text-sm font-medium text-cyan-700 leading-none" style="white-space: pre-line;">
        <span class="font-bold text-red-600">{{ quantidade_codigos }}</span> códigos encontrados.
        </p>
        </div>
        {% else %}
        <div id="codigo"
            class=" w-full bg-slate-100 border-2 border-dashed rounded-xl p-3 text-center text-2xl font-mono font-bold tracking-[0.3em] text-red-600">
        <p id="mensagem" class=" text-sm font-medium text-cyan-700 leading-none" style="white-space: pre-line;">
        Nenhum código encontrado.
        </p>
        </div>
        {% endif %}
    
        {% endif %}
        <p>Clique no botão para pesquisar um código.</p>

        {% if mensagem %}
        <p id="mensagem" class=" text-sm font-medium text-green-600">{{ codigos }}</p>
        {% endif %}

    </div>

    <form method="get" max-w-md class="w-full flex flex-col items-center gap-1 mt-5">

        <label for="filtro_categoria" class="text-xl font-bold">Filtros: Categoria</label>
        <select name="filtro_categoria" id="filtro_categoria" class="w-full bg-slate-200 border border-cyan-900 rounded-xl p-3 text-center text-lg font-mono tracking-[0.3em] text-cyan-500 focus:outline-none focus:ring-2 focus:ring-cyan-400 focus:border-transparent hover:cursor-pointer hover:bg-slate-100 mb-4">

            <option value="" selected disabled>Selecione</option>
            <option value="eletronicos">Eletrônicos</option>
            <option value="roupas">Roupas</option>
            <option value="moveis">Móveis</option>
            <option value="livros">Livros</option>
            <option value="outros">Outros</option>
            <option value="todos">Todos</option>
        </select>


        <label for="filtro_status" class="text-xl font-bold">Filtros: status</label>
        <select name="filtro_status" id="filtro_status" class="w-full bg-slate-200 border border-cyan-900 rounded-xl p-3 text-center text-lg font-mono tracking-[0.3em] text-cyan-500 focus:outline-none focus:ring-2 focus:ring-cyan-400 focus:border-transparent hover:cursor-pointer hover:bg-slate-100 mb-4">

            <option value="" selected disabled>Selecione</option>
            <option value="processando">Processando</option>
            <option value="enviado">Enviado</option>
            <option value="na_estrada">Na estrada</option>
            <option value="aguardando">Aguardando</option>
            <option value="em_rota">Em rota</option>
            <option value="entregue">Entregue</option>
            <option value="nao_entregue">Não entregue</option>
            <option value="cancelado">Recusado</option>
        </select>

        <label for="filtro_tipo_entrega" class="text-xl font-bold">Filtros: Tipo Entrega</label>
        <select name="filtro_tipo_entrega" id="filtro_tipo_entrega" class="w-full bg-slate-200 border border-cyan-900 rounded-xl p-3 text-center text-lg font-mono tracking-[0.3em] text-cyan-500 focus:outline-none focus:ring-2 focus:ring-cyan-400 focus:border-transparent hover:cursor-pointer hover:bg-slate-100 mb-4">

            <option value="" selected disabled>Selecione</option>
            <option value="normal">Normal</option>
            <option value="expressa">Express</option>
            <option value="economica">Economica</option>
        </select>


        <label for="filtro_acoes" class="text-xl font-bold">Filtros: Ações</label>
        <select name="filtro_acoes" id="filtro_acoes" class="w-full bg-slate-200 border border-cyan-900 rounded-xl p-3 text-center text-lg font-mono tracking-[0.3em] text-cyan-500 focus:outline-none focus:ring-2 focus:ring-cyan-400 focus:border-transparent hover:cursor-pointer hover:bg-slate-100 mb-4">

            <option value="" selected disabled>Selecione</option>
            <option value="ativos">Ativos</option>
            <option value="desativado">Desativado</option>
            <option value="cancelado">Cancelado</option>
            <option value="deletado">Deletado</option>
        </select>


        <label for="filtro_acoes" class="text-xl font-bold">Filtros: Problemas</label>
        <select name="filtro_problemas" id="filtro_problemas" class="w-full bg-slate-200 border border-cyan-900 rounded-xl p-3 text-center text-lg font-mono tracking-[0.3em] text-cyan-500 focus:outline-none focus:ring-2 focus:ring-cyan-400 focus:border-transparent hover:cursor-pointer hover:bg-slate-100 mb-4">

            <option value="" selected disabled>Selecione</option>
            <option value="resolvidos">Resolvidos</option>
            <option value="nao_resolvidos">Não Resolvidos</option>
        </select>

        <button
            class="mt-1.5 bg-cyan-600 text-white px-8 py-3 rounded-xl font-semibold shadow-lg transition-all duration-300 hover:bg-cyan-700 hover:scale-105 active:scale-95"
            type="submit" name="b_acao" value="ver_codigos">ver códigos</button>

        <button
            class="mt-5 bg-cyan-600 text-white px-8 py-3 rounded-xl font-semibold shadow-lg transition-all duration-300 hover:bg-cyan-700 hover:scale-105 active:scale-95"
            type="submit" name="b_acao" value="quantidade">Quantidade</button>
    </form>

    <hr class="my-6 mt-6 w-full border-t border-cyan-300">

    <a href="{{ url_for('admin') }}">
        <button
            class="mt-6 bg-cyan-500 text-white px-8 py-3 rounded-xl font-semibold shadow-lg transition-all duration-300 hover:bg-cyan-900 hover:scale-105 active:scale-95"
            type="button">Voltar</button>
    </a>

</main>


{% endblock %}