<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Rastreamento</title>
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
</head>

<body>
    <header class="flex items-center justify-between mt-0 bg-cyan-500 text-white p-4 rounded-lg shadow-md">

        <a href="/">
            <img src="{{ url_for('static', filename='svg/logo.svg') }}" alt="Logo" class="h-10">
        </a>

        <h1 class="text-2xl font-bold">
            Gerador de Rastreamento
        </h1>
    </header>

    {% block content %}

    {% endblock %}
</body>

</html>