{% extends 'private/accounts/settings_base.html' %}

{% block settings_content %}

<div class="account-card">

    <h2>Segurança da Conta</h2>

    <p class="account-desc">
        Gerencie sua senha e proteja sua conta contra acessos não autorizados.
    </p>

      <form id="changePasswordForm" class="reg-form" method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">

            <label class="reg-field-label">
                Senha atual
            </label>

                {% if form.senha_atual.errors %}
                {{ form.senha_atual(class="form-input is-invalid", id="accName") }}
                {% else %}
                {{ form.senha_atual(class="form-input", placeholder="Digite a senha atual", id="accName") }}
                {% endif %}

        </div>

                        {% if form.senha_atual.errors %}
            <div class="field-error" role="alert">
                {% for error in form.senha_atual.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}

        <div class="form-group">

            <label class="reg-field-label">
                Nova senha
            </label>


                {% if form.nova_senha.errors %}
                {{ form.nova_senha(class="form-input is-invalid", id="accName") }}
                {% else %}
                {{ form.nova_senha(class="form-input", placeholder="Digite a nova senha", id="accName") }}
                {% endif %}

        </div>

                        {% if form.nova_senha.errors %}
            <div class="field-error" role="alert">
                {% for error in form.nova_senha.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}

        <div class="form-group">

            <label class="reg-field-label">
                Confirmar nova senha
            </label>


                {% if form.confirmar_nova_senha.errors %}
                {{ form.confirmar_nova_senha(class="form-input is-invalid", id="accName") }}
                {% else %}
                {{ form.confirmar_nova_senha(class="form-input", placeholder="Confirme a nova senha", id="accName") }}
                {% endif %}

        </div>

                {% if form.confirmar_nova_senha.errors %}
            <div class="field-error" role="alert">
                {% for error in form.confirmar_nova_senha.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}

        <div class="form-actions">

            <button type="button" class="btn btn-primary" id="btnChangePassword">

                Alterar Senha

            </button>

        </div>

    </form>

</div>

<div class="account-card">

    <h2>Sessões Ativas</h2>

    <p class="account-desc">

        Em breve será possível visualizar todos os dispositivos conectados
        à sua conta e encerrar sessões remotamente.

    </p>

</div>

<div class="account-card account-danger">

    <h2>Zona de Perigo</h2>

    <p class="account-desc">
        Alterações nesta área podem afetar permanentemente sua conta.
    </p>

    <form method="POST" action="{{ url_for('private.logout_sessions') }}">
         {{ logout_sessions_form.hidden_tag() }}
        <button class="btn btn-danger-outline" type="submit">
            Encerrar todas as sessões
        </button>
    </form>

    <!-- <form method="POST">
       {# { delete_account_form.hidden_tag() }} #}
        <button class="btn btn-danger-outline" type="submit">
            Excluir conta
        </button>
    </form> -->

</div>



{% endblock %}

{% block extra_js %}
<script defer src="{{ url_for('static', filename='js/private/account.js') }}"></script>
{% endblock %}