{% extends 'private/base.html' %}

{% block body_class %}private-app private-account-page{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/private/account.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/private/notifications.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/private/preferences.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/private/relationship.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/private/partner.css') }}">
{% endblock %}


{% block content %}

<section class="account-page">

    <div class="container">

        <div class="account-layout">

            {% include 'private/includes/settings_sidebar.html' %}

            <main class="account-content">

                {% block settings_content %}
                {% endblock %}

            </main>

        </div>

    </div>

</section>

{% endblock %}