<aside class="account-sidebar">

    <h3>Configurações</h3>

<a href="{{ url_for('private.account') }}"
   class="{{ 'active' if active_page == 'account' else '' }}">
    Minha Conta
</a>

<a href="{{ url_for('private.account_security') }}"
   class="{{ 'active' if active_page == 'security' else '' }}">
    Segurança
</a>

    <a href="{{ url_for('private.account_notifications') }}"
       class="{{ 'active' if active_page == 'notifications' else '' }}">
        Notificações
    </a>

    <a href="{{ url_for('private.account_preferences') }}"
       class="{{ 'active' if active_page == 'preferences' else '' }}">
        Preferências
    </a>

</aside>