{% extends "filmes/base.html" %}

{% block title %}
    Criar nova senha | CinePost
{% endblock %}

{% block content %}

<div class="container py-5">

    <h1 class="h3">
        Criar nova senha
    </h1>

    {% if validlink %}

        <p>
            Digite sua nova senha duas vezes.
        </p>

        <form method="post">

            {{ form.as_p }}

            {% csrf_token %}

            <button
                type="submit"
                class="btn btn-danger"
            >
                Alterar minha senha
            </button>

        </form>

    {% else %}

        <div class="alert alert-danger">

            Este link de recuperação é inválido
            ou já foi utilizado.

        </div>

    {% endif %}

</div>

{% endblock %}